# Preprocessing Workflow
This notebook describes data cleaning and further preparations

In [4]:
import pandas as pd

#loading the training and test dataset
data = pd.read_csv('../raw_data/train.csv')
test_data = pd.read_csv('../raw_data/test.csv')

In [6]:
data

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,100,1849,1,100,0,1.000000,0.0000,100.0000,1849,4
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144,4489,1,144,0,1.000000,64.0000,144.0000,4489,4
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,121,8464,1,0,0,0.250000,64.0000,121.0000,8464,4
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,81,289,16,121,4,1.777778,1.0000,121.0000,289,4
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,121,1369,16,121,4,1.777778,1.0000,121.0000,1369,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9552,ID_d45ae367d,80000.0,0,6,0,1,1,0,NaN,0,...,81,2116,25,81,1,1.562500,0.0625,68.0625,2116,2
9553,ID_c94744e07,80000.0,0,6,0,1,1,0,NaN,0,...,0,4,25,81,1,1.562500,0.0625,68.0625,4,2
9554,ID_85fc658f8,80000.0,0,6,0,1,1,0,NaN,0,...,25,2500,25,81,1,1.562500,0.0625,68.0625,2500,2
9555,ID_ced540c61,80000.0,0,6,0,1,1,0,NaN,0,...,121,676,25,81,1,1.562500,0.0625,68.0625,676,2
9556,ID_a38c64491,80000.0,0,6,0,1,1,0,NaN,0,...,64,441,25,81,1,1.562500,0.0625,68.0625,441,2

In [8]:
duplicate_count = len(data) - len(data.drop_duplicates())
duplicate_count

0

In [33]:
null_percentages = round(data.isnull().sum().sort_values(ascending=False)/len(data),2)
pd.set_option('display.max_rows', None)
print(null_percentages)

rez_esc            0.83
v18q1              0.77
v2a1               0.72
SQBmeaned          0.00
meaneduc           0.00
Id                 0.00
hogar_adul         0.00
parentesco10       0.00
parentesco11       0.00
parentesco12       0.00
idhogar            0.00
hogar_nin          0.00
dependency         0.00
hogar_mayor        0.00
hogar_total        0.00
edjefe             0.00
edjefa             0.00
instlevel1         0.00
instlevel2         0.00
parentesco9        0.00
parentesco7        0.00
parentesco8        0.00
estadocivil6       0.00
female             0.00
estadocivil1       0.00
estadocivil2       0.00
estadocivil3       0.00
estadocivil4       0.00
estadocivil5       0.00
estadocivil7       0.00
instlevel4         0.00
parentesco1        0.00
parentesco2        0.00
parentesco3        0.00
parentesco4        0.00
parentesco5        0.00
parentesco6        0.00
instlevel3         0.00
instlevel6         0.00
instlevel5         0.00
SQBescolari        0.00
lugar4             0.00
lugar5             0.00
lugar6             0.00
area1              0.00
area2              0.00
age                0.00
SQBage             0.00
dis                0.00
SQBhogar_total     0.00
SQBedjefe          0.00
SQBhogar_nin       0.00
SQBovercrowding    0.00
SQBdependency      0.00
agesq              0.00
lugar3             0.00
lugar2             0.00
lugar1             0.00
qmobilephone       0.00
mobilephone        0.00
television         0.00
computer           0.00
tipovivi5          0.00
tipovivi4          0.00
tipovivi3          0.00
tipovivi2          0.00
tipovivi1          0.00
overcrowding       0.00
bedrooms           0.00
instlevel9         0.00
instlevel8         0.00
instlevel7         0.00
male               0.00
eviv2              0.00
eviv3              0.00
paredmad           0.00
escolari           0.00
hhsize             0.00
paredblolad        0.00
paredzocalo        0.00
paredpreb          0.00
pareddes           0.00
paredzinc          0.00
pisomadera         0.00
paredfibras        0.00
paredother         0.00
pisomoscer         0.00
pisocemento        0.00
pisoother          0.00
pisonatur          0.00
tamviv             0.00
tamhog             0.00
r4t3               0.00
r4t2               0.00
r4t1               0.00
r4m3               0.00
r4m2               0.00
r4m1               0.00
r4h3               0.00
r4h2               0.00
r4h1               0.00
v18q               0.00
refrig             0.00
v14a               0.00
hacapo             0.00
rooms              0.00
hacdor             0.00
pisonotiene        0.00
techozinc          0.00
eviv1              0.00
elimbasu5          0.00
energcocinar3      0.00
energcocinar4      0.00
elimbasu1          0.00
elimbasu2          0.00
elimbasu3          0.00
elimbasu4          0.00
elimbasu6          0.00
techoentrepiso     0.00
epared1            0.00
epared2            0.00
epared3            0.00
etecho1            0.00
etecho2            0.00
etecho3            0.00
energcocinar2      0.00
energcocinar1      0.00
sanitario6         0.00
sanitario5         0.00
sanitario3         0.00
sanitario2         0.00
sanitario1         0.00
coopele            0.00
noelec             0.00
planpri            0.00
public             0.00
abastaguano        0.00
abastaguafuera     0.00
abastaguadentro    0.00
cielorazo          0.00
techootro          0.00
techocane          0.00
Target             0.00
dtype: float64

In [36]:
columns_to_drop = []

for column in data.columns:
    if data[column].isnull().sum()/(len(data[column])) > 0.7:
        columns_to_drop.append(column)
        
data = data.drop(columns_to_drop, axis=1)